body {
	background-color: dimgray;
}

#time {
	top: 24px;
	right: 20px;
	position: absolute;
	font-family: 'Economica', sans-serif;
	font-size: 2em;
}

#title {
	text-align: center;
	margin-bottom: -15px;
	font-weight: 2;
/*	font-size: 2em;
*/	font-family: 'Monoton', cursive;
}